body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.topnav {
    overflow: hidden;
    background-color: #bdbdbd;
}

.topnav a {
    float: left;
    color: rgb(46, 101, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(36, 114, 0);
    color: rgb(170, 25, 25);
}

.topnav a.active {
    background-color: yellowgreen;
    color: darkcyan;
}

h1 {
    color:white;
    font-weight: bolder;
    text-align: center;
}

p {
    color:blue;
    font-weight: lighter;
}

img#History {
   float: right;
   margin-left: 20px;
}

img#Players {
    float: left;
    margin-right: 20px;
}

img#Babar {
    float:left;
    margin-right: 15px;
}

img#Kohli {
    float:right;
    margin-left: 10px;
}

img#Rizwan {
    float:right;
    margin-left: 10px;
}

img#Williamson {
    float:left;
    margin-right: 20px;
}