body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* Adjust based on your image height */
}

/* Hide all slides by default */
.myslides {
    display: none;
    max-height: 100%;
    /* Ensure images fit within container */
    max-width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #bdbdbd;
}

.topnav a {
    float: left;
    color: rgb(46, 101, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(36, 114, 0);
    color: rgb(170, 25, 25);
}

.topnav a.active {
    background-color: yellowgreen;
    color: darkcyan;
}