body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}

.topnav {
    overflow: hidden;
    background-color: #bdbdbd;
}

.topnav a {
    float: left;
    color:rgb(46, 101, 255);
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(36, 114, 0);
    color: rgb(170, 25, 25);
}

.topnav a.active {
    background-color: yellowgreen;
    color:darkcyan;
}

.Head {
    color:crimson;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Course {
    color:yellow;
    text-align: center;
    font-weight: bold;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color:black;
    text-align: center;
}

Img#Logo {
    width:100%;
    height: fit-content;
}